extends layout

block content
  h1= title
  p This website is Kostyantyn Proskuryakov's portfolio. Please check out the links up above. The whole site's code can be found at #[a(href="https://github.com/KProskuryakov/Portfolio") this Github repository].
  if user
    p= "Welcome " + user.display_name
  else
    p Please log in or register.
