extends layout

block content
    h1= title
    p Welcome to #{title}
    p There's supposed to be stuff here, I guess.
    if user
        p= "Welcome " + user.display_name
    else
        p Please log in!
