extends layout

block content
    div.flex-container
        canvas#laser-game-canvas(width="402", height="402")
        pre#paths-pre.flex-pre This is where the paths are supposed to be
        pre#imported-pre.flex-pre Imported stuff
        div.vertical-div
            textarea#game-text-area(rows="20", cols="50", style="resize: none;")
            button.flex-button(onclick="importButtonPress();") Import!

    script(src="javascripts/lasergame.js")

