extends layout

block stylesheets
  link(rel='stylesheet', href='/stylesheets/lasergame.css')

block content
  .flex-container
    canvas#laser-game-canvas.flex-lasergame-canvas(width="402", height="402")
    pre#paths-pre.flex-pre This is where the paths are supposed to be
    if levelID
      pre#imported-pre.flex-pre Imported stuff
    .flex-break

  script(type="text/javascript", src="lasergame-bundle.js")
  if levelID
    script importLevel(#{levelID});