doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        ul.navbar-ul
            li.navbar-li
                a(href="/") Home
            li.navbar-li
                a(href="/lasergame") Laser Game
    block content
        p I guess there's no content here :(
