extends layout

block stylesheets
    link(rel='stylesheet', href='/stylesheets/form_signin.css')

block content
    .container
        form.form-signin(method="POST", action="/register")
            h2.form-signin-heading Please Register
            label.sr-only(for="inputEmail") Email Address
            input.form-control#inputEmail(name="email", type="email", placeholder="Email Address" required autofocus)
            label.sr-only(for="inputDisplayName") Display Name
            input.form-control#inputDisplayName(name="display_name", type="text", placeholder="Display Name" required)
            label.sr-only(for="inputPassword") Password
            input.form-control#inputPassword(name="password", type="password", placeholder="Password" required)
            button.btn.btn-lg.btn-primary.btn-block(type="submit") Register