extends layout

block content
  h1= title
  table
    tr
      th Title
      th Keywords
      th Description
    each webData in webDataArray
      tr
        td
          a(href= webData.url)= webData.title!==""?webData.title:"No Title"
        td= webData.keywords!==""?webData.keywords:"No Keywords"
        td= webData.description!==""?webData.description:"No Description"