body {
  padding-left: 0;
  padding-right: 0;
}

.flex-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    width: auto;
    height: auto;
    margin: auto;
}

.flex-p {
  flex: 1 0 100%;
  margin: 10px auto 10px auto;
}

.flex-lasergame-canvas {
    width: 402px;
    height: 402px;
    margin: auto;
    flex: 0 0;
}

.flex-pre {
    margin: 0px;
    height: auto;
    background-color: lightcyan;
    padding: 0px 0px 0px 10px;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    border-radius: 0;
    flex: 1 0 400px;
}

.flex-button {
    background-color: #009db9;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 10px;
    flex: 1 100%;
}

.flex-break {
    width: 0;
    height: auto;
    margin-right: auto;
    margin-left: 0;
}

@media all and (min-width: 768px) {
    .flex-lasergame-canvas {
        margin-left: auto;
        margin-right: 0;
    }
    .flex-pre {
        flex: 0 0 400px;
    }
}