body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #ffaca7;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    width: 1350px;
    height: 500px;
    background-color: #e6a5a5;
    margin: auto;
    border: medium groove #000000;
}

.flex-pre {
    margin: 15px;
    width: 250px;
    height: auto;
    background-color: lightcyan;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

.flex-button {
    background-color: #803d39; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.vertical-div {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.navbar-ul {
    list-style-type: none;
    margin: 0 0 15px 0;
    padding: 0;
    overflow: hidden;
    background-color: #332426;
}

.navbar-li {
    float: left;
}

.navbar-li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar-li a:hover {
    background-color: #935258;
}

pre {
    font-size: 90%;
    line-height: 1.2em;
    font-family: "Courier 10 Pitch", Courier, monospace;
    white-space: pre;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;

    height:1%;
    width: auto;
    display: block;
    clear: both;
    color: #555555;
    padding: 1em 1em;
    margin: auto auto auto auto;
    background: #f4f4f4;
    border: solid 1px #e1e1e1
}
code {
    font-size: 100%;
    line-height: 1.2em;
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;

    display: inline;
    color: #555555;

    background: #f4f4f4;
}
